<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>togetheride.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>764FE7A11D8699DD00E89040</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>764FE7B51D8699DF00E89040</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>764FE7C01D8699DF00E89040</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
